@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower');
html,
body {
    height: 100%;
}

#pageContainer {
    background-image: url("https://i.imgsafe.org/8c70220af3.jpg");
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    margin-bottom: 0px;
    max-width: 100%;
}

.content {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 15px;
    margin-top: 50px;
    padding: 5px 5px 5px 5px;
}

#landLinks, #portLinks {
    text-align: center;
}

#landLinks img, #portLinks img {
    border-radius: 15px;
    display: inline-block;
    padding: 4px 2px 4px 2px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
}

p {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.35em;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}


/* Menu */

.sidenav {
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
    color: #818181;
    display: block;
    transition: 0.5s
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 3em;
}

#social {
    padding-top: 50px;
    text-align: left;
}

#hamburger {
    color: white;
    position: absolute;
    left: 10px;
    top: 25px;
    cursor: pointer;
    z-index: 1;
}